{% extends "pages/page.html" %}

{% load mezzanine_tags %}

{% block main %}{{ block.super }}

{% editable page.richtextpage.content %}
<center>
<iframe src="https://player.twitch.tv/?channel=emtr0" frameborder="0" allowfullscreen="true" scrolling="no" 
height="378" width="620"></iframe><a href="https://www.twitch.tv/emtr0?tt_medium=live_embed&tt_content=text_link" 
style="padding:2px 0px 4px; display:block; width:345px; font-weight:normal; font-size:10px; 
text-decoration:underline;">Watch live video from emTr0 on www.twitch.tv</a>
<iframe src="https://www.twitch.tv/emtr0/chat?popout=" frameborder="0" scrolling="no" height="500" 
width="620"></iframe>
</center>
{% endeditable %}

{% endblock %}

